

body {
    font-family: 'Lato', sans-serif;
    background: #f5f5f5;
}

.contanier_top {
    width: 100%;
    margin: 0 auto;
    /*background: linear-gradient(65deg, #48a6f0, #a44ae8);*/
    background-color: #7678ec;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM0OGE2ZjAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2E0NGFlOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(72, 166, 240)),color-stop(1, rgb(164, 74, 232)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
}

.header {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

.header_top {
    height: 60px;
    border-bottom: 3px solid pink;
    padding: 20px;
}

.logo {
    margin-left: 20px;
    display: inline-block;
    font-weight: 600;
}

.logo_first {
    background: white;
    display: inline-block;
    font-weight: 600;
    font-size: 36px;
}

.logo_second {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 36px;
}

.nav {
    display: inline-block;
    float: right;
    margin-right: 10px;
    width: 70%;
    margin-top: 15px;
}

.nav_link {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-right: 30px;
}

.header_bottom {
    display: inline-block;
    padding: 20px;
}

.header_text {
    display: inline-block;
    width: 450px;
    padding: 10px;
    margin-right: 20px;
    color: white;
    float: left;
}

.header_text h1 {
        font-weight: 800;
        font-size: 50px;
    }

    .header_text h2 {
        font-weight: 500;
        font-size: 40px;
        margin-top: -30px;
    }

.button {
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 20px;
}

.button-download {
    background: linear-gradient(65deg, #4ac9f6, #7bd28d);
}


.header_pic {
    display: inline-block;
    height: 300px;
    width: 450px;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
}

/* Второй блок */
.contanier_block {
    width: 100%;
    margin-top: -50px;
    background: white;
}

.block01 {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: white;
}
.block01_head {
    text-align: center;
    font-weight: 800;
    color: purple;
    font-size: 56px;
    margin-top: 50px;
}

.block01_caption {
    color: #b300b3;
    font-weight: 500;
    margin-top: 70px;
}

.block01_boxes {
    width: 1000px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    
}
.block01-box {
    margin-top: 70px;
    display: inline-block;
    padding: 50px 0px 60px 0px;
}
.block01-box:hover {
    box-shadow: 2px 2px 40px grey;
    opacity: 0.7;
}
.block01_bottom {
    background: url(http://www.idealizza.com.br/blog/wp-content/uploads/2012/09/iphone5_hero1.jpg);
    width: 70%;
    height: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Третий блок */
.contanier_about {
    width: 100%;
    margin-top: 75px;
    background: #f5f5f5;
}

.block_about {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    
}

.text_about {
    display: inline-block;
    float: left;
    width: 40%;
    font-size: 14px;
    margin-top: 50px;
    padding-left: 20px;
}

 .text_about h1 {
        color: #b300b3;
        font-weight: 500;
        font-size:56px;
}

.button_about {
    padding: 5px 15px 5px 15px;
    border: 2px solid cyan;
    font-size: 14px;
    text-align: center;
    color: #828282
}

.but_right {
    margin-left: 15px;
}

.pics_about {
    display: inline-block;
    float: right;
    margin-top: -20px;
    margin-right: -10px;
}



.contanier_block_03 {
    width: 100%;
    background-color: #7678ec;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM0OGE2ZjAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2E0NGFlOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(72, 166, 240)),color-stop(1, rgb(164, 74, 232)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
}

.block03 {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    position: relative;
}

.block03_texts {
    position: relative;
    display: block;
    height: 180px;
}

.block03_text {
    width: 40%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 300px;
    color: white;
    display: block;
}

    .block03_text h1 {
        font-weight: 600;
        font-size: 36px;
    }

.block03_one {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    float: left;
    height: 500px;
    margin-top: 10px;
}

.block03_pic {
    float: left;
    top: -50px;
    left: 230px;
    position: absolute;
}

.block03_three {
    display: inline-block;
    width: 30%;
    height: 500px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.block03_one_cell_1 {
    width: 100%;
    height: 170px;
}

.block03_one_text_1 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: right;
}

    .block03_one_text_1 h5 {
        font-weight: 500px;
    }


.block03_one_icons_1 {
    float: left;
    width: 18%;
    margin-left: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px
}


.block03_one_cell_2 {
    width: 100%;
    height: 170px;
}

.block03_one_text_2 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: right;
}

    .block03_one_text_2 h5 {
        font-weight: 500px;
        text-align: right;
    }

.block03_one_icons_2 {
    float: left;
    width: 18%;
    margin-left: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_one_cell_3 {
    width: 100%;
    height: 170px;
}

.block03_one_text_3 {
    float: left;
    width: 50%;
    width: 50%;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: right;
}

.block03_one_text_2 h5 {
    font-weight: 500px;
    text-align: right;
}

.block03_one_icons_3 {
    float: left;
    width: 18%;
    margin-left: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_three_cell_1 {
    width: 100%;
    height: 170px;
}

.block03_three_text_1 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
}

.block03_three_svg_1 {
    float: left;
    width: 18%;
    margin-right: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_three_cell_2 {
    width: 100%;
    height: 170px;
}

.block03_three_text_2 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
}

.block03_three_svg_2 {
    float: left;
    width: 18%;
    margin-right: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_three_cell_3 {
    width: 100%;
    height: 170px;
}

.block03_three_text_3 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
}

.block03_three_svg_3 {
    float: left;
    width: 18%;
    margin-right: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

/* Дизайн блок */

.contanier_design {
    width: 100%;
    background: white;
}

.bea_design {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: white;
    padding-top: 70px;
}

.bea_design_left {
    float: left;
    position: relative;
    display: inline-block;
    height: 600px;
    padding-top: 100px;
    padding-left: 20px;
    width: 45%;
    margin-left: 15px;
}

    .bea_design_left h1 {
        color: #b300b3;
        font-weight: 500;
        letter-spacing: 2px;
        display: inline-block;
    }

    .bea_design_left p {
        display: inline-block;
    }

.bea_design_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 70px;
}

.bea_design_right {
    float: left;
    display: inline-block;
    width: 45%;
    height: 500px;
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
}

.bea_design_pic {
    width: 145%;
    float: left;
    position: absolute;
    right: 20px;
    top: 20px;
}
/* Дизайн блок 3 */
.design_three {
    margin-top: 20px;
    margin-top: -5px;
}


.design_left {
    float: left;
    display: inline-block;
    width: 45%;
    height: 500px;
    margin-left: 15px;
    margin-top: 30px;
}

.design_pic {
    width: 125%;
    float: left;
    margin-top: -190px;
}

.design_right {
    margin-left: 20px;
    margin-top
}


/* How to works */


.contanier_works {
    width: 100%;
}

.how_works {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
}

.caption {
    color: #b300b3;
    font-weight: 600;
    font-size: 56px;
    padding-top: 10px;
    text-align: center;
}

.works_left {
    float: left;
    display: inline-block;
    height: 600px;
    padding-top: 10px;
    width: 45%;
   
}

.works_left h3 {
    color: #b300b3;
    font-weight: 600;
    display: inline-block;
}

.works_cell_1 {
    width: 100%;
    height: 150px;
}

.works_icons_1 {
    float: left;
    width: 18%;
    margin-top: 45px;
}

.works_text_1 {
    float: right;
    width: 50%;
    margin-right: 70px;
    display: inline-block;
}

.block03_one_text_2 h5 {
    font-weight: 500px;
}

.works_right {
    background: url(../img/works.png);
    background-size: cover;
    float: left;
    display: inline-block;
    height: 600px;
    width: 50%;
    margin-top: 60px;
    margin-right: -20px;
}

/*Best Screenshot*/

.contanier_screen {
    width: 100%;
    background: white;
}
.best_screen {
    background:white;
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    position:relative;
}
.best_screen_caption {
    color: #b300b3;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    padding-top: 120px;
}
.best_screen_text {
    text-align: center;
    padding-top: 20px;
}
.best_screen_pics {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-top: 50px;
    position: relative;
   
}
.best_screen_pic{
    opacity: 0.5;
}

.best_screen_pic:hover {
    opacity: 1;
    box-shadow: 20px 20px 60px black;
}
.best_screen_circle {
    position:absolute;
    top: 175px;
    left:5px;
}

.best_screen_pics:before {
    position: absolute;
    content: url(../img/circle3l.png);
    left: -70px;
    top: 90px;
    opacity: 0.5;
}


.best_screen_pics:after {
    position: absolute;
    content: url(../img/circle3.png);
    right: -70px;
    top: 90px;
    opacity: 0.5;
}
.best_screen_pics:before:hover {
    opacity:1;
}
.best_screen_pics:after:hover {
    opacity: 1;
}
/*Download SmartApp*/
.contanier_download {
    width: 100%;
    /*background: linear-gradient(65deg, #48a6f0, #a44ae8);*/
    background-color: #7678ec;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM0OGE2ZjAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2E0NGFlOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(72, 166, 240)),color-stop(1, rgb(164, 74, 232)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
}

.download_smart {
   
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    position:relative;
}
.download_smart_pic {
    width:25px;
    height:25px;
}

.download_smart_button_1 {
    position: absolute;
    top: 150px;
    left: 180px;
    padding: 25px 35px 25px 35px;
    border: 2px solid white;
    border-radius: 35px;
}
.download_smart_button_2 {
    position: absolute;
    top: 150px;
    left: 450px;
    padding: 25px 35px 25px 35px;
    border: 2px solid white;
    border-radius: 35px;
}
.download_smart_button_3 {
    position: absolute;
    top: 150px;
    left: 700px;
    padding: 25px 35px 25px 35px;
    border: 2px solid white;
    border-radius: 35px;
}
.download_smart_caption {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
    
}


/* FAQs */
.contanier_faq {
    width: 100%;
    
}

.block_faq {
    width: 1000px;
    height: 750px;
    background: #f5f5f6;
    margin: 0 auto;
}


.faq_left_caption {
    color: #b300b3;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 50px;
    padding-top: 60px;
    margin-left: 30px;
}
/* Выпадающий блок */


@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);

*, ::after, ::before {
    box-sizing: border-box;
}


/* demo контейнер */
.faq_left {
    float: left;
    padding: 20px;
    width: 500px;
    
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ .faq_left, .hidetext {
    display: none;
}
    /* вид текста label */
    .hide + label {
        background: #fff;
        width: 350px;
        font-weight: 500;
        padding: 10px;
        cursor: pointer;
        display: inline-block;
    }
    /* вид текста label при активном переключателе */
    .hide:checked + label {
        background: purple;
        border-bottom: 0;
    }
        /* когда чекбокс активен показываем блоки с содержанием  */
        .hide:checked + label + div {
            display: block;
            background: #fff;
            -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
            -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
            box-shadow: inset 3px 3px 10px #7d8e8f;
            margin-left: 20px;
            padding: 10px;
            /* чуточку анимации при появлении */
            -webkit-animation: fade ease-in 0.5s;
            -moz-animation: fade ease-in 0.5s;
            animation: fade ease-in 0.5s;
        }
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

.hide + label:after {
    background-color: purple;
    color: #fff;
    content: "\002B";
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 25px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hide:checked + label:after {
    content: "\2212";
}
/* Выпадающий блок */

.faq_right {
    float: left;
    margin-top: -110px;
}


/* Innovative Team */
.contanier_innteam {
    width: 100%;
    background: #fff;
}
.block_innteam {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
}
.innteam_caption {
    color: #b300b3;
    font-weight: 600;
    font-size: 26px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align:center;
}
.innteam_texts {
    text-align: center;
    width: 500px;
    margin:0 auto;
    margin-bottom: 50px;
}

.innteam_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
.inn_flex {
    box-shadow: 1px 1px 30px grey;
}
.fx_caption {
    color: #b300b3;
    font-weight: 600;
    text-align: center;
}
.fx_big {
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}
.fx_tt {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.inn_flex:first-child {
    margin-right: 20px;
}

.inn_flex:last-child {
    margin-left: 20px;
}
.innteam_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin-top: 30px;
}
.innteam_icon {
    width: 25px;
    height: 25px;
}
.innteam_icon:hover {
    width: 30px;
    height: 30px;
    background: #b300b3;
    border-radius: 25px;
    box-shadow: 1px 1px 60px grey;
}
.innteam_icon:first-child {
    margin-right: 10px;
}
.innteam_icon:last-child {
    margin-left: 10px;
}


/* Info */
.contanier_info {
    width: 100%;
    background: url(../img/info_big.png);
    
}

.block_info  {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    

}
.info_sections {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    b
    
}

.info_section {
    text-align: center;
    margin-top: 160px;
}

.info_section_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.info_section_caption {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}
.info_section_text {

}



/* Clients */

.contanier_clients {
    width: 100%;
    
}
.block_clients {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    
}
.cli_top {
	width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.cli_top_caption {
    color: #b300b3;
    font-weight: 600;
    font-size: 26px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align:center;
}
.cli_top_text {
    font-size: 16px;
    padding-bottom: 30px;
    text-align:center;
}

.cli_bot_left {
	width: 450px;
    height: 350px;
    float: left;
    box-shadow: 1px 1px 30px grey;
}
.cli_name {
    width: 400px;
    margin: 30px;
    
}
.name_pic {
    float: left;
    display: inline-block;
    margin-left: -15px;
    margin-top: -35px;


}
.cli_name_cap {
    color: #b300b3;
    font-weight: 600;
    display: inline-block;
    float: right;
    margin-top: 30px;
    text-align: left;
}
.cli_name_prof {
    display: inline-block;
    float: right;
    text-align: left;
    
}
.cli_text {
    clear: both;
    padding: 10px;
}

.cli_bot_right {
    width: 450px;
    height: 350px;
    float: left;
    box-shadow: 1px 1px 30px grey;
    margin-left: 50px;
    display: inline-block;
    margin-left: 95px;
    margin-right: 0px;
}

.cli_circle {
    margin: : 0 auto;
    clear: both;
    text-align: center;
    margin-top: 30px;
}
.cli_circle_1 {
    width: 20px;
    height: 20px;
    border: 2px solid #b300b3;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
}
.cli_circle_1:hover {
    background: #b300b3;
}

/* Price */
.contanier_price {
    width: 100%;
    height: 1000px;
    background: url(../img/fon_price.png);
    
}

.block_price  {
    width: 1000px;
    margin: 0 auto;
}

.block_price_head {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 110px;
    padding-top: 50px;
}
.block_price_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;


}
.price_flex {
    width: 300px;
    height: 600px;
    box-shadow: 1px 1px 10px grey;
}
.price_flex:first-child {
    margin-right: 15px;
}
.price_flex:last-child {
    margin-left: 15px;
}

.price_flex_top {
    text-align: center;
    background: #f5f5f5;
    padding: 60px;
}
.pr_top_black {
    font-weight: 600;

}
.pr_top_purple {
    color: #b300b3;
}
.pr_top_purple_span {
    color: #b300b3;
    font-weight: 600;
    font-size: 22px;
}

.price_flex_basic {
    width: 290px;
    text-align: center;
}
.price_line {
    width: 290px;
}
.price_pic {
    
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.price_text {
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
}
.button_price {
    border: 2px solid #b300b3;
    color: #b300b3;
    font-weight: 300;
    display: block;
    margin-top: 140px;
    width: 250px;
    margin-left: 25px;
    background: white;
    padding: 20px 30px 20px 30px;
    text-align: center;
}
.button_price_2 {
    margin-top: 65px;
}

.price_flex_top:hover { 
    background-color: #39cbbf;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDhhNmYwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4xNzEiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjVmZjdhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45OTQwMDAwMDAwMDAwMDAxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0.171, rgb(72, 166, 240)),color-stop(0.994, rgb(37, 255, 122)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(left,rgb(72, 166, 240) 17.1%,rgb(37, 255, 122) 99.4%);
    /* IE10+ */
    background-image: linear-gradient(to right,rgb(72, 166, 240) 17.1%,rgb(37, 255, 122) 99.4%);
    background-image: -ms-linear-gradient(left,rgb(72, 166, 240) 17.1%,rgb(37, 255, 122) 99.4%);
}
.button_price:hover {
    background-color: #39cbbf;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNDhhNmYwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4xNzEiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjVmZjdhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45OTQwMDAwMDAwMDAwMDAxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0.171, rgb(72, 166, 240)),color-stop(0.994, rgb(37, 255, 122)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(left,rgb(72, 166, 240) 17.1%,rgb(37, 255, 122) 99.4%);
    /* IE10+ */
    background-image: linear-gradient(to right,rgb(72, 166, 240) 17.1%,rgb(37, 255, 122) 99.4%);
    background-image: -ms-linear-gradient(left,rgb(72, 166, 240) 17.1%,rgb(37, 255, 122) 99.4%);
}
 
.price_flex:hover {
    box-shadow: 20px 30px 20px grey;
}


/* Blog*/
.contanier_blog {
    width: 100%;
    
}

.block_blog {
    width: 1000px;
    margin: 0 auto;
    

}
.blog_top {
    text-align:center;
    width: 350px;
    margin: 0 auto;

}
.blog_top_caption {
    color: #b300b3;
    font-weight: 600;
    font-size: 26px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align:center;
}
.blog_top_text {
    text-align: center;
}

.blog_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 50px;

}
.blog_flex_section {
    width: 300px;
    height: 500px;
    box-shadow: 1px 1px 10px grey;
    box-shadow: 1px 1px 30px grey;
}
.blog_section_pic {

}
.blog_section_text {
    padding: 10px;
}
.blog_section_text_1 {
    color:grey;
    margin-bottom: 20px;
}
.blog_section_text_2 {
    font-weight: 600;
    font-size: 20px;
}
.blog_section_text_3 {
    font-weight: 600;
    margin-bottom: 30px;
}
.blog_section_text_4 {

}
.blog_section_button {
    background-color: #7678ec;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(72, 166, 240)),color-stop(1, rgb(164, 74, 232)));
    background-image: -webkit-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: repeating-linear-gradient(to bottom right,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    margin-top: 100px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    color: #fff;
}































