

body {
	font-family: 'Lato', sans-serif;
	background: #f5f5f5;
}
.contanier_top {
	width: 100%;
	margin: 0 auto;
	

}
.header {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	border: 2px solid black;
	/*background: linear-gradient(65deg, #48a6f0, #a44ae8);*/
     background-color: #7678ec;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM0OGE2ZjAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2E0NGFlOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(72, 166, 240)),color-stop(1, rgb(164, 74, 232)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
	
}
.header_top {
	height: 60px;
	border-bottom: 3px solid pink;
	padding: 20px;
}
.logo {
	margin-left: 20px;
	display: inline-block;
	font-weight: 600;
	
	
}
.logo_first {
	background: white;
	display: inline-block;
	font-weight: 600;
	font-size: 36px;
}
.logo_second {
	display: inline-block;
	font-weight: 600;
	color: white;
	font-size: 36px;
}
.nav {
	display: inline-block;
	float: right;
	margin-right: 10px;
    width: 70%;
	margin-top: 15px;
}
.nav_link{
	text-decoration:none;
	color: white;
	text-align:center;
	margin-right: 30px;
}
.header_bottom {
	display: inline-block;
	padding: 20px;
}
.header_text {
	display: inline-block;
	width: 450px;
	padding: 10px;
	margin-right: 20px;
	color: white;
	float:left;
	
}
.header_text h1 {
	font-weight: 800;
	font-size: 50px;
}
.header_text h2 {
	font-weight: 500;
	font-size: 40px;
	margin-top: -30px;
}
.button {
	display:inline-block;
	padding: 15px 25px 15px 25px;
	border: 2px solid white;
	border-radius: 30px;
	cursor: pointer;
	font-weight: 300;
	text-transform:uppercase;
	margin-top: 20px;
}
.button-download {
	background: linear-gradient(65deg, #4ac9f6, #7bd28d);
}


.header_pic {
	display: inline-block;
	height: 300px;
	width: 450px;
	margin-top: 10px;
	margin-right: 20px;
	float:left;
}

/* Второй блок */
.contanier_block {
	width: 100%;
}

.block01 {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	border: 2px solid black;
	background: white;
	
}
.block01-pics {
    padding: 0 100px;
	margin-top: 20px;
	text-align: center;
	margin-top: 20px;
}
.block01-pic {
	width: 33%;
    float: left;
    height: 280px;
	margin-top: 70px;
	
}
.block01-texts {
	padding: 0 100px;
	margin-top: 40px;
	text-align: center;
	
}
.block01-text {
	width: 33%;
    float: left;
    height: 280px;
	margin-top: -50px;
	margin-top: -120px;
}
.block01-text h3 {
	color:#b300b3;
	font-weight: 500;
}
.block01_head {
	text-align: center;
	font-weight: 800;
	color: purple;
	font-size: 56px;
	margin-top: 50px;
}
.block01_bottom_pic {
	text-align:center;
	margin-top: -100px;
}
.pic_01 {
	
	margin-top: -100px;
}

/* Третий блок */
.contanier_about {
    width: 100%;
    margin-top: 75px;
    background: #f5f5f5;
}
.block_about {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
}

.text_about {
    display: inline-block;
    float: left;
    width: 40%;
    font-size: 14px;
    margin-top: 50px;
}
.text_about h1 {
	color:#b300b3;
	font-weight: 500;
    letter-spacing: 3px;
}
.button_about {
	padding: 5px 15px 5px 15px;
    border: 2px solid cyan;
    font-size: 14px;
    text-align: center;
    color: #828282
}
.but_right {
	margin-left: 15px;
}
.pics_about {
    display: inline-block;
    float: right;
    margin-top: -20px;
    margin-right: -10px;
}



.contanier_block_03 {
    width: 100%;
	
}
.block03 {
    width: 1000px;
	height: 750px;
    margin: 0 auto;
    position: relative;
	background-color: #7678ec;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM0OGE2ZjAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2E0NGFlOCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(72, 166, 240)),color-stop(1, rgb(164, 74, 232)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom right,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
    background-image: -ms-repeating-linear-gradient(top left,rgb(72, 166, 240) 0%,rgb(164, 74, 232) 100%);
}
.block03_texts{
    position: relative;
	display:block;
	height: 180px;
}
.block03_text {
    width: 40%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 300px;
	color:white;
	display: block;
	
}
.block03_text h1 {
	font-weight: 600;
	
}

.block03_one {
	display: inline-block;
	width: 30%;
	font-size: 14px;
	float:left;
	height: 500px;
	margin-top: 10px;
	
}

.block03_pic {
	float: left;
    top: -50px;
    left: 230px;
    position: absolute;
}
.block03_three {
	display: inline-block;
	width: 30%;
    height: 500px;
	float: right;
    margin-left: 10px;
	margin-top: 10px;
	
}
.block03_one_cell_1 {
	width:100%;
	height:170px;
}
.block03_one_text_1 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: right;
}
.block03_one_text_1 h5 {
	font-weight: 500px;
	
}


.block03_one_icons_1 {
    float: left;
    width: 18%;
    margin-left: 50px; 
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px
}


.block03_one_cell_2 {
	width:100%;
	height:170px;
}
.block03_one_text_2 {
    float: left;
    width: 50%;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: right;
}

.block03_one_text_2 h5 {
	font-weight: 500px;
	text-align: right;
}
.block03_one_icons_2 {
    float: left;
    width: 18%;
    margin-left: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_one_cell_3  {
	width:100%;
	height:170px;
}
.block03_one_text_3 {
    float: left;
    width: 50%;
    width: 50%;
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: right;
}
.block03_one_text_2 h5 {
	font-weight: 500px;
	text-align: right;
}
.block03_one_icons_3 {
    float: left;
    width: 18%;
    margin-left: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_three_cell_1 {
	width:100%;
	height:170px;
}
.block03_three_text_1 {
	float:left;
	width:50%;
	font-size: 14px;
	color: white;
}
.block03_three_svg_1 {
    float: left;
    width: 18%;
    margin-right: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_three_cell_2 {
	width:100%;
	height:170px;
}
.block03_three_text_2 {
	float:left;
	width:50%;
	font-size: 14px;
	color: white;
}
.block03_three_svg_2 {
    float: left;
    width: 18%;
    margin-right: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

.block03_three_cell_3 {
	width:100%;
	height:170px;
}
.block03_three_text_3 {
	float:left;
	width:50%;
	font-size: 14px;
	color: white;
}
.block03_three_svg_3 {
    float: left;
    width: 18%;
    margin-right: 50px;
    margin-top: 45px;
    border: 1px solid #fff0f5;
    border-radius: 15px;
    padding: 10px;
}

/* Дизайн блок */

.contanier_design {
    width: 100%;
}
.bea_design {
    width: 1000px;
    height: 750px;
    margin: 0 auto;

    background: white;
    padding-top: 70px;
}
.bea_design_left {
    float: left;
    position: relative;
    display: inline-block;
    height: 600px;
    padding-top: 100px;
    width: 45%;
    margin-left:15px;
}

.bea_design_left h1 {
     color: #b300b3;
     font-weight: 500;
     letter-spacing: 2px;
     display: inline-block;
     
    }
.bea_design_left p {
    display: inline-block;
    
}

.bea_design_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 70px;
}

.bea_design_right {
    float: left;
    display: inline-block;
    width: 45%;
    height: 500px;
    background: url(../svg/pantone.svg);
    background-size: cover;
    margin-left: 50px;
    margin-top: 30px;
}
.bea_design_pic {
    width: 145%;
    float: left;
    margin-top: -120px;
    margin-left: -115px;
}
/* Дизайн блок 3 */
.design_three {
    margin-top: 50px;
    margin-top: -5px;
}


.design_left {
    float: left;
    display: inline-block;
    width: 45%;
    height: 500px;
    margin-left: 15px;
    margin-top: 30px;
    
}

.design_pic {
    width: 125%;
    float: left;
    margin-top: -190px;
}
.design_right {
    margin-left: 20px;
    margin-top
}