.contanier {
	width:1500px;
}
/* Шапка сайта*/
.contanier_top {
	background: #4b4d4b;
	width:100%;
	height:200px;
}
.header {
	background: #4b4d4b;
	width:1500px;
	padding:20px;
	margin: 0 auto;
	
}
.logo_big {
	background: #4b4d4b;
	margin-left: 20px;
	color: #979997;
}
.logo_small {
	background: #4b4d4b;
	margin-left: 20px;
	color: #979997;
}
form {
	background: #4b4d4b;
	float:right;
	margin-top: -40px;
	margin-bottom: 30px;
	margin-right: 0px;
}
.input_header {
	width:200px;
	background:black;
	padding:10px;
}

.button {
	display:inline-block;
	background:#ff6f00;
	cursor: pointer;
	margin-left: 10px;
	color: white;
	margin-right: -50px;
	padding:10px;
}

.nav {
	background: #313331;
	float:left;
	margin-top: -10px;
	margin-left: 20px;
	height: 40px;
	width:1500px;
	padding-left:40px;
	padding-top: 20px;
	
}

.nav_link {
	text-decoration:none;
	color: #979997;
	text-align:center;
	margin-right:60px;
	
	
}

/* Основная часть сайта*/

.contanier_main {
	
	width:1600px;
	padding:20px;
	margin: 0 auto;
	margin-left: 100px;
}
/* Первый блок main*/

.main_grey {
	background: #4d4d4d;
	width:1510px;
	height:460px;
	padding:10px;
	margin-top:60px;
	margin-left: -10px;
	
}

.text_grey {
	float:left;
	background: #4d4d4d;
	color: #979997;
	display:inline-block;
	margin-right:-12px;
	margin-left:-10px;
	width:560px;
	height:452px;
	padding-top:6px;
	
	
}
h1 {
	font-size: 4em;
}
.main_link{
	text-decoration:none;
	color:#ffa812;
	
}
.link_grey {
	float: right;
	padding-right:20px;
}
.pic_grey {
	float:right;
	margin-left:10px;
	margin-right:0px;
	display:inline-block;
	margin-left:-10px;
	
	
}

/* Второй блок main*/
.main_white {
	
}
.text_white {
	width:900px;
	display: inline-block;
	color: #979997;
	margin-left:-10px;
	
}
.pic_white {
	display: inline-block;
	margin-right: 0px;
	margin: 20px;
	margin-right:30px;
	margin-left:40px;
	
}


.wlink {
	float: right;
	padding-right:20px;
	margin-right:300px;
	font-weight: bold;
}







