

.nav {
	background:#ffa812;
	display: inline-block;
	width: 100%;
	height: 200px;
	margin-bottom:10px;
	font-size:bold;
	color:white;
	text-align:center;
}
.main {
	width: 100%;
	font-size:bold;
	color:white;
	text-align:center;
	
}
.main_yellow {
	background:#ffcf48;
	display: inline-block;
	width: 70%;
	height: 700px;
	float:left;
	text-align:center;
}

.main_green_first {
	border: 1px solid black;
	display: inline-block;
	margin: 0 auto;
	width: 33%;
	height: 100px;
	padding:10px;
	margin-top:200px;
}
.main_green {
	background:#4c9141;
	display: inline-block;
	width: 33%;
	height: 100px;
	padding:10px;
	margin-top:20px;
}
.main_blue {
	background:#025669;
	display: inline-block;
	width: 28%;
	padding-right: 27px;
	height: 700px;
	float:right;
}
.footer {
	background:purple;
	display: inline-block;
	width: 100%;
	height: 200px;
	margin-top:10px;
	font-size:bold;
	color:white;
	text-align:center;
}

