.contanier_top {
	background: #4b4d4b;
	width:100%;
	height:150px;
}
.header {
	background: #4b4d4b;
	width:80%;
	padding:20px;
	margin: 0 auto;
	
}
.logo_big {
	background: #4b4d4b;
	margin-left: 20px;
	color: #979997;
}
.logo_small {
	background: #4b4d4b;
	margin-left: 20px;
	color: #979997;
}

.nav {
	float:right;
	display: inline-block;
	margin-top: -30px;
}

.nav_link {
	text-decoration:none;
	color: #979997;
	text-align:center;
	margin-right:60px;
}
.contanier_main {
	width:100%;
}
.main {
	border: 3px solid red;
	width:80%;
	margin: 0 auto;
}

.main_big_pic {
	background: #4b4d4b;
	width: 100%;
	height: 360px;
	margin: 0;
	margin-top: 30px;
}
.main_small_pic {
	width: 100%;
	text-align:center;
}
.small_pic {
	border: 3px solid blue;
	height:180px;
	display: inline-block;
	width: 31%;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	background: #4b4d4b;
}

.small_pic_center {
	margin-left: 22px;
}

.small_pic_right {
	margin-left:21px;
}

.main_pic_text {
	width: 100%;
	text-align:center;
}
.pic_text{
	border: 3px solid pink;
	height:180px;
	display: inline-block;
	width: 30%;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
	text-align:left;
	padding-left:10px;
}
.text_left {
	float:left;
}
.text_center {
	margin-left: 20px;
}

.text_right {
	margin-left:20px;
}
.pic_text h3 {
	font-style: italic;
}
.pic_text a {
	float:right;
	color: orange;
	font-weight:300;
	text-decoration:none;
}
.main_block_bottom {
	border: 3px solid darkblue;
	width: 100%;
	display: inline-block;
}
.block_bottom_text {
	display: inline-block;
	width: 40%;
	padding-left:20px;
	
	
}
.block_bottom_pic {
	background: #4b4d4b;
	width: 45%;
	height: 360px;
	margin: 0;
	margin-top: 20px;
	float:right;
	border: 3px solid purple;
}