body {
	font-family: 'Crimson Text', serif;
	color:#2B3409;
	background: #F7F2D4;
}

.contanier_top {
	background: #FDDC22;
	width:100%;
	height:150px;
}
.header {
	background: #FDDC22;
	width:1000px;
	padding:20px;
	margin: 0 auto;
	
}
.logo_big {
	background: #FDDC22;
	margin-left: 20px;
	color: #263409;
	letter-spacing: 3px;
	font-weight:600;
	font-size: 26px;
	display: inline-block;
}
.logo_small {
	background: #FDDC22;
	margin-left: 20px;
	color:#98CA32;
	font-weight:600;
}

.nav {
	float:right;
	display: inline-block;
	margin-top: -30px;
}

.nav_link {
	text-decoration:none;
	color: #263409;
	text-align:center;
	margin-right:30px;
}
.contanier_main {
	width:100%;
	background: #F7F2D4;
}
.main {
	width:1000px;
	margin: 0 auto;
}

.main_big_pic {
	
	width: 100%;
	height: 360px;
	margin: 0;
	margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.main_small_pic {
	width: 100%;
	
}
.small_pic {
	height:180px;
	display: inline-block;
	width: 31%;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
}
.small_pic_left {
	
	float:left;
	margin-left: 0px;
}
.small_pic_center {
	margin-left: 30px;
	float:left;
}

.small_pic_right {
	margin-left:30px;
	float:left;
}

.main_pic_text {
	width: 100%;
	text-align:center;
}
.pic_text{
	height:180px;
	display: inline-block;
	width: 30%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:left;
	padding:7px;
}
.text_left {
	float:left;
}
.text_center {
	margin-left: 20px;
	float:left;
}

.text_right {
	margin-left:20px;
	float:left;
}
.pic_text h3 {
	font-style: italic;
	
}
.main_link {
	color:#2B3409;
	font-weight:300;
	
}
.main_link:hover {
	color: #B2D732;
	font-weight:300;
	text-decoration:none;
}
.main_link_right {
	float:right;
}
.main_block_bottom {
	width: 100%;
	display: inline-block;
}
.block_bottom_text {
	display: inline-block;
	width: 40%;
	padding-left:20px;
	float:left;
	margin-top: -10px;
	margin-right: 40px;
	
	
}
.block_bottom_text h2 {
	font-style: italic;
	font-size: 42px;
	color: #2B3409;
	font-weight: 800;
}
.block_bottom_pic {
	width: 45%;
	height: 360px;
	margin-top: 20px;
	float:right;
	float:left;
	margin: 30px;
	padding-right:20px;
}



.contanier_footer {
	width:100%;
	height:250px;
	margin-top: 60px;
	
}
.footer {
	width:1000px;
	padding:10px;
	margin: 0 auto;
	color:#2B3409;
	border-top: 2px solid #8601AF;
}

li {
    list-style-type: none; 
 }
 ul {
    list-style-type: none; 
 }
.footer_list_one {
	display:inline-block;
	float:left;
	list-style-type: none;
	position:relative;
	width: 19%;
	height: 190px;
	margin-left: 10px;
}
.footer_list_two{
	display:inline-block;
	float:left;
	list-style-type: none;
	margin-left: 10px;
	position:relative;
	width: 19%;
	height: 190px;
}
.footer_list_three {
	display:inline-block;
	float:left;
	list-style-type: none;
	margin-left: 10px;
	position:relative;
	width: 19%;
	height: 190px;
}
.footer_list_four {
	display:inline-block;
	float:left;
	list-style-type: none;
	margin-left: 10px;
	position:relative;
	width: 19%;
	height: 190px;
}
.footer_list_five {
	display:inline-block;
	float:left;
	list-style-type: none;
	margin-left: 10px;
	position:relative;
	width: 19%;
	height: 190px;
}
.footer_list {
	display:inline-block;
	position: absolute;
	left: -46px;
	top: 40px;
	
}
.footer_list h3 {
	font-weight:300;
	text-align:center;
	margin-top: -10px;
}
.footer_down {
	display:inline-block;
	background:#2B3409;
	color:#F7F2D4;
	width: 100%;
	height:50px;
	padding: 10px;
	text-align:center;
	margin-top: 40px;
	
}
.footer_down_left {
	display:inline-block;
	margin-left: -40px;
	
}
.footer_down_right {
	display:inline-block;
	margin-left:400px;
}